/*.caja-modal form {
  display: grid;
  grid-template-columns: 15vw 22vw auto;
  place-items: center;
  justify-content: center;
  gap: 15px;
}*/

.contenedor-tabla {
  width: 100%;
  overflow-x: auto;
}

.menu-gestion {
  display: flex;
  justify-content: center;
  margin: 5px;
}