/*.caja-modal form {
  display: grid;
  grid-template-columns: 15vw 22vw auto;
  place-items: center;
  justify-content: center;
  gap: 15px;
}*/

.contenedor-tabla {
  width: 100%;
  overflow-x: auto;
}

.menu-gestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  gap: 5px;
  z-index: 1;
}

.menu-gestion img {
  border: 2px solid var(--color-borde-boton-flotante);
}