body {

  --fuente-primaria: Verdana, Geneva, Tahoma, sans-serif;
  --color-fuente: black;

  --color-fondo: #c3a7f6;
  --color-barra-superior: #8f5aee;
  --color-fondo-thead: #8f5aee;
  --color-fondo-tbody: #f8f4fe;
  
  --color-menu-boton-borde: #1e0746;
  --color-menu-boton-fondo: #e3d5fb;
  --color-menu-boton-grande: #e3d5fb;

  --filtro-invert: invert(0%);
}

body.oscuro {
  --fuente-primaria: Verdana, Geneva, Tahoma, sans-serif;

  --color-fuente: white;
  --color-fondo: #392360;

  --color-barra-superior: #190839;
  --color-fondo-thead: #1e0a41;
  --color-fondo-tbody: #2a1c47;

  --color-menu-boton-borde: #64439c;
  --color-menu-boton-fondo: #392360;
  --color-menu-boton-grande: #190839;

  --filtro-invert: invert(90%);
}
