
.caja-login h1, .caja-login label {
  animation: animTitulo 5s infinite linear alternate;
}

.caja-login a, .caja-login button {
  font-size: 14px;
  text-decoration: none;
  padding: 1vh 2vw 1vh 2vw;
  margin: .5vh .5vw .5vh .5vw;
  border-radius: 15px;
  animation: movFondo 5s infinite linear alternate;
  color: white;
  background-color: var(--color-fondo-thead);
}

.caja-login a:hover, .caja-login button:hover {
  cursor: pointer;
  background-color: #552051;
  animation: none;
}

.caja-login a:active, .caja-login button:active {
  background-color: #250c23;
}

.caja-login input {
  padding: 1vh 1vw 1vh 1vw;
  border-style: groove;
}

.contenedor.caja-login {
  margin: 8vh auto 0 auto;
  width: fit-content;
  padding: 4vh 4vw 4vh 4vw;
  border-radius: 25px;
  background-color: var(--color-fondo-tbody);
}
.form-login {
  padding: 6vh 3vw 6vh 3vw;
  align-content: flex-start;
  width: 75%;
}
.form-login input {
  width: 75%;
}

.form-login input,button {
  margin: 1vh 0vw 1vh 0vw;
}

.caja-login nav {
  margin-top: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
