/*@media (orientation: portrait) {*/
@media (min-resolution: 150dpi) {
  /*option {
    font-size: medium;
  }

  body,
  select,
  input,
  .caja-login a,
  .caja-login button {
    font-size: xx-large;
  }*/
}

.contenedor.caja-login {
  width: 85%;
}

.form-login,
.form-login input {
  width: 100%;
}

/*}*/